body{
    background-color: #e4ffe5;
    /*padding: 3px;*/
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: ease;
    transition-delay: 0s;
    margin: 0px;
}
.title-name{
    font-size: 50px;
    text-align: center;
    color:#220000;
    font-family: 'Times New Roman';
}

.main-post{
    /*width: 70%;*/
    /*flex: 1;*/
    /*box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.06), 0 1px 5px 0 rgba(0,0,0,0.12);*/
    /*height: 80%;*/
    overflow-y: auto;
    position: absolute;
    top: 0px;
    bottom: 0px;
    padding: 21px;
    /*float: left;*/
    left: 60px;
    background-color: #fdfdfd;
    white-space: pre-wrap;
    width: 75%;
    min-width: 200px;
}
#sidebar-nav{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    /*width: 20%;*/
    min-width: 60px;
    width: auto;
    overflow-y: auto;
    padding: 13px;
    padding-right: 20px;
    padding-right: 20px;
    margin-right: 0px!important;
    left: 2px;
    background-color: #EEEEEE;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.06), 0 1px 5px 0 rgba(0,0,0,0.12);
    /*margin-right: 4px;*/
    /*float: left;*/
    /*height: 100%;*/
    overflow-y: auto;
    margin-bottom: 0px;
}
.subtitle-top{
    text-align: center;
}
blockquote{
    color:#4e6bff;
    background-color: rgb(220, 237, 237);
    margin: 5px;
    padding: 0px;
    padding-left: 12px;
    padding-right: 12px;
    height: auto;
}
blockquote p{
    margin-top: 3px;
    margin-bottom: 3px;
}
a{
    line-height: 33px;
    font-family: Source Sans Pro,Helvetica Neue,Arial,sans-serif;
    color: #42b983;
    text-decoration: none;
}
a:hover{
    line-height: 33px;
    font-family: Source Sans Pro,Helvetica Neue,Arial,sans-serif;
    color: aquamarine;
    text-decoration: underline;
}
a.linkr{
    color:#505d6b;
    font-size: 16px;
}
a.linkr:hover{
    color: #353535;
    font-size: 16px;
}
body{
    
}
.sub{
    line-height: 29px;
    color:#505d6b;
    /*font-family: "Times New Roman";*/
    font-size: 14px;
}
.sub:hover{
    color: #353535;
    /*font-family: "Times New Roman";*/
    font-size: 14px;
}
.reg{
    color: #42b983;
    font-size: 16px;
    margin-bottom: 3px;
}
.reg:hover{
    color: aquamarine;
    font-size: 16px;
}
.linkr.homepage{
    font-family: 'Comic Sans MS';
    font-size: 17px;
}
.linkr.homepage:hover{
    font-family: 'Comic Sans MS';
    font-size: 17px;
}

